.brands {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    transition: all 0.5s;
    /*overflow: hidden;*/
}
.soloBrand {
    flex-shrink: 0;
    width: 20%;
}

    .soloBrand img {
        opacity: 0.5;
    }

    .soloBrand img:hover {
        opacity: 1;
    }

@media (max-width: 1040px) {
    .soloBrand {
        width: 35%;
    }
}

@media (max-width: 640px) {
    .soloBrand {
        width: 50%;
    }
}