.btn {
    display: inline-block;
    padding: 10px 30px;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    color: var(--color-blue-anti);
    background: var(--color-gradient-blue);
}
    .btn:hover {
        box-shadow: 0 15px 25px -5px #949494;
    }

.btn-white {
    display: inline-block;
    width: 100%;
    padding: 20px auto;
    font-size: 14px;
    line-height: 36px;
    text-transform: uppercase;
    background-color: white;
    text-align: center;
    color: black;
}