/************************************************************/
/* BASIC */

/************************************************************/

/************************************************************/
/* LAYOUT */

.bg-light-grey {
    background-color: var(--color-light-grey);
    color: var(--color-light-grey-anti)
}

.bg-blue {
    background: var(--color-gradient-blue);
    color: var(--color-blue-anti);
}

.bg-dark {
    background-color: var(--color-dark);
    color: var(--color-light-grey-anti);
}

.bg-light {
    background-color: #fff;
    color: var(--color-dark);
}

h1 {
    display: inline-block;
    width: 100%;
    margin: 20px 0;
    font-size: 60px;
    font-weight: 600;
    line-height: 60px;
    text-transform: uppercase;
    color: var(--color-dark);
}

h2 {
    display: inline-block;
    width: 100%;
    margin: 20px 0;
    font-size: 36px;
    font-weight: 600;
    line-height: 40px;
}

h3 {
    display: inline-block;
    font-weight: normal;
    font-size: 14px;
}

h4 {
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
}

h6 {
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
    color: var(--color-dark);
}

p {
    display: inline-block;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: #777;
}

.title {
    text-align: center;
}

.titleP {
    width: 60%;
    padding-bottom: 80px;
}

.uppercase {
    text-transform: uppercase;
}

.left {
    width: 100%;
    padding: 0 15px;
}

.right {
    width: 90%;
    margin-top: 40px;
    padding: 0 15px;
    text-align: left;
}



/************************************************************/

/************************************************************/
/* HEADER */
.fixed {
    position: fixed;
    z-index: 10;
    transition: all 0.8s;
}

.header-shadow {
    transition: all 0.5s;
    box-shadow: 0 20px 20px 0px rgba(158, 158, 158, 0.2);
}

/************************************************************/

/************************************************************/
/* HERO */
.fullscreen {
    height: 750px !important;
}
/************************************************************/

/************************************************************/
/* CLIENTS */

/************************************************************/

/************************************************************/
/* ABOUT ME */
#aboutme {
    justify-items: center;
}
.left > img {
    width: 100%;
}

.right > h3 {
    width: 50%;
}
.right > h2 {
    width: 100%;
    margin-bottom: 0;
}

.right > p {
    width: 100%;
    margin-bottom: 30px;
    position: relative;
    left: -15px;
}
/************************************************************/

/************************************************************/
/* NUMBERS */
.numbers {
    display: inline-block;
    width: 100%;
    padding: 30px 0;
}

.numbers-col {
    display: inline-block;
    float: left;
    width: 25%;
    text-align: center;
}

    .numbers-col > h2 {
        font-weight: 700;
    }

    .numbers-col p {
        color: white;
        position: relative;
        bottom: 20px;
    }

@media (max-width: 840px) {
    .numbers-col {
        width: 50%
    }
}

@media (max-width: 640px) {
    .numbers-col {
        width: 100%;
    }
}

/************************************************************/

/************************************************************/
/* SKILLS */

/************************************************************/

/************************************************************/
/* LATEST WORK */

/************************************************************/

/************************************************************/
/* JOB HISTORY */

/************************************************************/

/************************************************************/
/* SERVICES */

/************************************************************/

/************************************************************/
/* TESTIMONIALS */

/************************************************************/

/************************************************************/
/* BRANDS */

/************************************************************/

/************************************************************/
/* FOOTER */

/************************************************************/
