/************************************************************/
/* BASIC */

/************************************************************/

/************************************************************/
/* LAYOUT */

.bg-light-grey {
    background-color: var(--color-light-grey);
    color: var(--color-light-grey-anti)
}

.bg-blue {
    background-color: var(--color-gradient-blue);
    color: var(--color-blue-anti);
}

.bg-dark {
    background-color: var(--color-dark);
    color: var(--color-light-grey-anti);
}

.bg-light {
    background-color: #fff;
    color: var(--color-dark);
}

h1 {
    display: inline-block;
    width: 100%;
    margin: 20px 0;
    font-size: 60px;
    font-weight: 600;
    line-height: 60px;
    text-transform: uppercase;
    color: var(--color-dark);
}

h2 {
    display: inline-block;
    width: 100%;
    margin: 20px 0;
    font-size: 36px;
    font-weight: 600;
    line-height: 40px;
}

h3 {
    display: inline-block;
    font-weight: normal;
    font-size: 14px;
}

h4 {
    display: inline-block;
    font-weight: normal;
    font-size: 18px;
}

h6 {
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
    color: var(--color-dark);
}

p {
    display: inline-block;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: #777;
}

.title {
    text-align: center;
}

.titleP {
    width: 60%;
}

.uppercase {
    text-transform: uppercase;
}

.left {
    display: inline-block;
    float: left;
}

.right {
    display: inline-block;
    float: right;
    width: 40%;
}

    .right > h2 {
        text-align: left;
        margin-bottom: 40px;
    }

    .right > p {
        width: 100%;
        text-align: left;
    }

/************************************************************/

/************************************************************/
/* HEADER */
.fixed {
    position: fixed;
    z-index: 10;

}
/************************************************************/

/************************************************************/
/* HERO */
.fullscreen {
    height: 750px !important;
}
/************************************************************/

/************************************************************/
/* CLIENTS */

/************************************************************/

/************************************************************/
/* ABOUT ME */

/************************************************************/

/************************************************************/
/* NUMBERS */

/************************************************************/

/************************************************************/
/* SKILLS */

/************************************************************/

/************************************************************/
/* LATEST WORK */

/************************************************************/

/************************************************************/
/* JOB HISTORY */

/************************************************************/

/************************************************************/
/* SERVICES */

/************************************************************/

/************************************************************/
/* TESTIMONIALS */

/************************************************************/

/************************************************************/
/* BRANDS */

/************************************************************/

/************************************************************/
/* FOOTER */

/************************************************************/
