.container {
    display: inline-block;
    width: 100%;
    padding: 80px 0;
}

.container-slim{
    display: inline-block;
    width: 100%;
    padding: 0;
}
.row {
    display: inline-block;
    width: 1200px;
    margin: 0 calc(50% - 600px);
}

.flex {
    display: flex;
}

.flex-wrap{
    flex-wrap: wrap;
}

.content-center{
    justify-content: center;
}

.grid-container {
    display: grid;
    grid-gap: 30px;
    align-items: center;
}

.col-2 {
    grid-template-columns: 50% auto;
}

.col-3 {
    grid-template-columns: 1fr 1fr 1fr;
}

.mt-70 {
    margin-top: 70px;
}

.p-20 {
    padding: 20px 0;
}

a {
    text-decoration: none;
}


@media (max-width: 1300px) {
    .row {
        width: 1000px;
        margin: 0 calc(50% - 500px);
    }
}
@media (max-width: 1100px) {
    .row {
        width: 800px;
        margin: 0 calc(50% - 400px);
    }

    .col-md-1 {
        grid-template-columns: auto;
    }

    .col-md-2 {
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 900px) {
    .row {
        width: 600px;
        margin: 0 calc(50% - 300px);
    }

    .col-md-1 {
        grid-template-columns: auto;
    }

    .col-md-2 {
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 700px) {
    .row {
        width: 100%;
        margin: 0;
        padding: 0 20px;
    }

    .col-xs-1 {
        grid-template-columns: auto;
    }
}