.row#testimonials {
    display: inline-flex;
    justify-content: space-between;
}

.testimonials {
    display: inline-flex;
    width: 555px;
    background-color: white;
    cursor: pointer;
}
    .testimonials .face-icon {
        display: inline-block;
        width: 30px;
        margin: 25px 30px 0;
    }

        .face-icon > img {
            width: 30px;
        }

    .testimonial-message {
        display: inline-block;
        width: 75%;
        margin: 25px 0;
    }

        .testimonials:hover h4 {
            color: var(--color-blue-start);
        }

    .testimonial-text {
        display: inline-block;
        width: 100%;
    }

        .testimonial-text > p {            
            text-align: left;
            margin-bottom: 20px;
        }

    .testimonial-name {        
        display: inline-block;
        width: 100%;
    }

        .testimonial-name > h4 {
            color: black;
            font-size: 18px;
            line-height: 20px;
            font-weight: 550;
        }

    .testimonial-job {
        display: inline-block;
        width: 100%;
    }

        .testimonial-job > p {
            width: 100%;
            text-align: left;
        }
