:root {
    --color-light-grey: #f9f9ff;
    --color-light-grey-anti: black;

    --color-blue-start: #8490ff;
    --color-blue-end: #62bdfc;

    --color-gradient-blue: linear-gradient(90deg, rgba(132,144,255,1) 0%, rgba(98,189,252,1) 100%);
    --color-blue-anti: #FFFFFF;

    --color-dark: #04091e;
    --color-dark-anti: #777;

}